<div class="container text-center my-5">
    <h2 class="mb-4 section-title">🎓 Наши идеи</h2>
    <p class="lead text-muted mb-5">
        Все для продвижения
    </p>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card course-card h-100">
                <div class="card-body">
                    <h3 class="card-title text-primary mb-2">📌 API</h3>
                    <h6 class="text-muted mb-3">Программа для устройств и приложений</h6>
                    <p class="card-text">
                        API для интеграции с отслеживаем посещаемости, приложений и т.д.
                    </p>
                    <ul class="list-unstyled mt-3 text-dark text-start">
                        <li>✔ Полный доступ к материалам</li>
                        <li>✔ Суверенитет данных</li>
                        <li>✔ Работа с отечественными производителями</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card course-card h-100">
                <div class="card-body">
                    <h3 class="card-title text-primary mb-2">📌 Коллоборации</h3>
                    <h6 class="text-muted mb-3">Тестовый запуск среди вузов</h6>
                    <p class="card-text">
                        Расширение на 10-15 вузов в 5 регионах
                    </p>
                    <ul class="list-unstyled mt-3 text-dark text-start">
                        <li>✔ Тренировочные планы</li>
                        <li>✔ Отслеживание посещаемости и зачеты</li>
                        <li>✔ Поддержка сообщества</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card course-card h-100">
                <div class="card-body">
                    <h3 class="card-title text-primary mb-2">📌 Экосистема</h3>
                    <h6 class="text-muted mb-3">В дальнейшем</h6>
                    <p class="card-text">
                        Постепенный запуск маркетплейса, премиум-функций и партнёрских программ.
                    </p>
                    <ul class="list-unstyled mt-3 text-dark text-start">
                        <li>✔ Независимый доступ к данным</li>
                        <li>✔ Идеальное сочетание обширности и надежность</li>
                        <li>✔ Правильная статистика данных</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>