<div class="d-flex justify-content-center align-items-center bg-dark content">
  <div class="register-card w-100 p-4 rounded-4 shadow-lg" style="min-width: 300px; max-width: 35%">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center">
      <fieldset>
        <legend class="mb-4 text-white">Register</legend>

        <!-- Name -->
        <div class="mb-3 text-start">
          <label for="name" class="form-label text-white">Name</label>
          <input id="name" type="text" class="form-control" formControlName="name">
          @if (form.get('name')?.invalid && form.get('name')?.touched) {
            <div class="text-danger mt-1 small">
              @if (form.get('name')?.errors?.['required']) {
                <div>Name is required.</div>
              }
              @if (form.get('name')?.errors?.['minlength']) {
                <div>
                  Name must be at least 2 characters.
                </div>
              }
            </div>
          }
        </div>

        <!-- Email -->
        <div class="mb-3 text-start">
          <label for="email" class="form-label text-white">Email</label>
          <input id="email" type="email" class="form-control" formControlName="email">
          @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <div class="text-danger mt-1 small"
              >
              @if (form.get('email')?.errors?.['required']) {
                <div>Email is required.</div>
              }
              @if (form.get('email')?.errors?.['email']) {
                <div>Please enter a valid email.</div>
              }
            </div>
          }
        </div>

        <!-- Password -->
        <div class="mb-4 text-start">
          <label for="password" class="form-label text-white">Password</label>
          <input id="password" type="password" class="form-control" formControlName="password">
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <div class="text-danger mt-1 small"
              >
              @if (form.get('password')?.errors?.['required']) {
                <div>Password is required.</div>
              }
              @if (form.get('password')?.errors?.['minlength']) {
                <div>
                  Password must be at least 8 characters.
                </div>
              }
            </div>
          }
        </div>

        <!-- password coniform -->
        <div class="mb-3 text-start">
          <label for="passwordConiform" class="form-label text-white">Password coniform</label>
          <input id="passwordConiform" type="text" class="form-control" formControlName="passwordConiform">

          @if (form.get('passwordConiform')?.touched && form.get('passwordConiform')?.errors) {
            <div class="text-danger mt-1 small"
              >
              @if (form.get('passwordConiform')?.errors?.['required']) {
                <div>
                  Password confirm is required.
                </div>
              }
            </div>
          }

          @if (form.errors?.['passwordMismatch']
            && form.get('passwordConiform')?.touched) {
            <div class="text-danger mt-1 small">
              Passwords must match.
            </div>
          }
        </div>

        @if (errorMessage) {
          <div class="alert alert-danger text-center py-2">
            {{ errorMessage }}
          </div>
        }

        <div class="d-grid">
          <button class="btn btn-orange" [disabled]="!form.valid || loading">
            @if (loading) {
              <span class="spinner-border spinner-border-sm me-2"></span>
            }
            {{ loading ? 'Registering...' : 'Register' }}
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>