<header class="header-banner-top">
  <!-- Логотип -->
  <h1 class="logo">
    <a class="logo-link" routerLink="/home" routerLinkActive="active">
      <img src="/icon.png" alt="Logo" style="width: 100%; height: 100%; max-width: 40px;" />
    </a>
  </h1>

  <!-- Навигация -->
  <div class="main-navigation header-nav container flex-container">
    <input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-box" />
    <label for="mobile-menu-toggle" class="mobile-menu-label">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="horizontal-nav primary-wrapper" role="navigation">
      <ul class="header-menu flex-container">
        <li><a routerLink="/home" routerLinkActive="active">SPORTCODE</a></li>
        <li><a routerLink="/programms-and-courses" routerLinkActive="active">Программы</a></li>
        <li><a routerLink="/knowladge-base" routerLinkActive="active">База знаний</a></li>
        <li><a routerLink="/calculators" routerLinkActive="active">Калькуляторы</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active">О нас</a></li>
      </ul>
    </nav>
  </div>

  <!-- Авторизация -->
  @if(isLoggedIn) {
  <div class="logged-in">
    <p class="header-p">
      <a class="lk" routerLink="/user/personal-account" routerLinkActive="active">Hello, {{name}}</a>
    </p>
    <button class="ghost-button sigh-out-button" (click)="logout()">Log out</button>
  </div>
  } @else {
  <div class="auth">
    <p><a class="login" routerLink="/auth/login" routerLinkActive="active">Login</a></p>
    <p><a class="login" routerLink="/auth/signup" routerLinkActive="active">Sign up</a></p>
  </div>
  }
</header>

<main>
  <router-outlet></router-outlet>
</main>
