<div class="content">
    <ul>
        <li>
            <app-about-project></app-about-project>
        </li>
        <li>
            <app-info-metrics></app-info-metrics>            
        </li>
        <li>
            <app-reviews></app-reviews>
        </li>
        <li>
            <app-successful-cases></app-successful-cases>
        </li>
        <li>
            <app-freq-asked-questions></app-freq-asked-questions>
        </li>
        <li>
            <app-join-to-community></app-join-to-community>
        </li>
    </ul>
</div>

<app-footer></app-footer>