.content{
  height: 89.8vh !important;
}
.login-card {
  background-color: #1c1c1c;
  max-width: 500px;
  width: 100%;
  border: 1px solid #333;
}

.btn-orange {
  background-color: #ff7a00;
  color: white;
  font-weight: 600;
  border: none;
  transition: 0.3s;
}

.btn-orange:hover {
  background-color: #e86b00;
  color: #fff;
}

.forgot-password {
  color: #ff7a00;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

.forgot-password:hover {
  text-decoration: underline;
  color: #ffa94d;
}
