<!-- <div class="our-team">
    <h2>Наша комманда</h2>
    <ul>
        <li class="person">
            <p>Бочкарев Иван(@i.bochkarev)</p>
            <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@i.bochkarev">Ссылка на Time</a>
        </li>
        <li class="person">
            <p>Новосад Артем(@a.novosad)(@a.novosad)</p>
            <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@a.novosad">Ссылка на Time</a>
        </li>
        <li class="person">
            <p>Котов Дмитрий(@d.kotov)</p>
            <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@d.kotov">Ссылка на Time</a>
        </li>
        <li class="person">
            <p>Борголов Амгалан(@a.borgolov)</p>
            <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@a.borgolov">Ссылка на Time</a>
        </li>
        <li class="person">
            <p>Николаев Александр(@a.nikolaev)</p>
            <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@a.nikolaev">Ссылка на Time</a>
        </li>
    </ul>
</div> -->

<section class="py-5">
  <div class="container">
    <div class="row align-items-center mb-5">
         <div class="col-lg-12 text-center">
             <h2>Наша команда</h2>
         </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 text-center">
        <img src="images/Ivan-photo.png" alt="photo" class="img-fluid phone-mockup">
      </div>
      <div class="col-lg-6">
        <h3 class="fw-bold">Бочкарев Иван</h3>
        <p class="text-muted">
          Преза, факты, статистика, вызов
        </p>
        <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@i.bochkarev">Ссылка на Time</a>
      </div>
    </div>

    <div class="row align-items-center flex-lg-row-reverse">
      <div class="col-lg-6 text-center">
        <img src="images/Artem-photo.png" alt="photo" class="img-fluid phone-mockup">
      </div>
      <div class="col-lg-6">
        <h3 class="fw-bold">Новосад Артем</h3>
        <p class="text-muted">
          Моральная поддержка
        </p>
        <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@a.novosad">Ссылка на Time</a>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 text-center">
        <img src="images/Amga-photo.png" alt="photo" class="img-fluid phone-mockup">
      </div>
      <div class="col-lg-6">
        <h3 class="fw-bold">Бороголов Амгалан</h3>
        <p class="text-muted">
          Фронт сайта
        </p>
        <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@a.borgolov">Ссылка на Time</a>
      </div>
    </div>

    <div class="row align-items-center flex-lg-row-reverse">
      <div class="col-lg-6 text-center">
        <img src="images/Sasha-photo.png" alt="photo" class="img-fluid phone-mockup" >
      </div>
      <div class="col-lg-6">
        <h3 class="fw-bold">Николаев Александр</h3>
        <p class="text-muted">
          Моральная поддержка
        </p>
        <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@a.nikolaev">Ссылка на Time</a>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-lg-6 text-center">
        <img src="images/Dima-photo.png" alt="photo" class="img-fluid phone-mockup">
      </div>
      <div class="col-lg-6">
        <h3 class="fw-bold">Котов Дмитрий</h3>
        <p class="text-muted">
          Бэк сайта
        </p>
        <a class="btn btn-primary lk" href="https://time.centraluniversity.ru/tsentralnyy-universitet/messages/@d.kotov">Ссылка на Time</a>
      </div>
    </div>
  </div>
</section>
