@import "bootstrap/dist/css/bootstrap.min.css";

* {
    box-sizing: border-box;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1 0 auto;
}


a {
    text-decoration: none;
    transition: .25s;
}

button {
    background: transparent;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-size: .875em;
    font-weight: 600;
    height: 2em;
    letter-spacing: -.025em;
    text-transform: uppercase;
    transition: .25s;
}

button:hover {
    color: white;
}

header {
    min-height: 10vh;
}

hr.header-hr {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

p {
    color: black;
    font-size: .875em;
    hyphens: auto;
    line-height: 1.5;
    margin: 1em 0;
}

.logo-link {
    color: rgb(194, 192, 192);
    font-weight: 600;
    letter-spacing: .125em;
    text-transform: uppercase;
}

.header-nav {
    align-items: center;
    flex-direction: column;
}

.header-menu {
    flex-wrap: wrap;
    justify-content: center;
    padding: .75em 0;
}

.header-menu-link {
    color: var(--gray-color);
    display: block;
    font-size: .75em;
    font-weight: 500;
    padding: .5em .75em;
    text-transform: uppercase;
}

.header-menu-link:hover {
    color: var(--dark-color);
    text-decoration: underline;
}

.ghost-button {
    border: .125em solid gray;
    min-width: 9em;
    padding: 0 1em;
}

.ghost-button:hover {
    background: var(--gray-color);
    color: var(--light-color);
}

.sigh-out-button {
    border: .125em solid gray;
    color: rgb(194, 192, 192);
    min-width: 9em;
    padding: 0 1em;
}

.sigh-out-button:hover {
    background: var(--gray-color);
    color: white;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: .25s;
}

a:hover {
    color: white;
}

.type-button {
    margin-top: 1.5em;
}

.type-button:after {
    margin-left: .5em;
    vertical-align: .0715em;
}